
SERVER_HOST={{ SERVER_HOST }}
SERVER_PORT={{ SERVER_PORT }}
TARGET={{ TARGET }}

CHAIN_TYPE={{ CHAIN_TYPE }}
BASE_URL={{ BASE_URL }}
IMAGES_URL={{ IMAGES_URL }}
WS_URL={{ WS_URL }}
FACTORY_ADDRESS={{ FACTORY_ADDRESS }}
